<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountMapper">
    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,kind)
        values(#{username},#{password},#{kind})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from user where username=#{username}
    </select>

    <select id="getAccountById" resultMap="User">
        select * from user where id=#{id}
    </select>

    <select id="getAllUser" resultMap="User">
        select * from user
    </select>

    <update id="updateUser" parameterType="com.example.cinema.po.User">
        update user set username = #{username}, password = #{password}
        where id= #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{target}
    </delete>

    <resultMap id="User" type="com.example.cinema.po.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="kind" property="kind"></result>
    </resultMap>
</mapper>