<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.HistoryMapper">
    <select id="getHistoryByUserId" resultMap="historyItem">
        select * from history where user_id = #{userId}
    </select>
    <insert id="insertHistory" parameterType="com.example.cinema.po.historyItem"
            useGeneratedKeys="true" keyProperty="id">
        insert into history(history.id,history.user_id,history.kind,history.money,history.description)
        values(#{id},#{userId},#{kind},#{money},#{description})
    </insert>
    <resultMap id="historyItem" type="com.example.cinema.po.historyItem">
        <result column="id" property="id"></result>
        <result column="user_id" property="userId"></result>
        <result column="kind" property="kind"></result>
        <result column="time" property="Time"></result>
        <result column="money" property="money"></result>
        <result column="description" property="description"></result>
    </resultMap>
</mapper>
